<div class="comments-{{comment.id}}">
  <div>
    {{comment.body}}
  </div>
  <div>
    <span>By: {{comment.user.email}}</span>
    <span>
      {{#if comment.user_eq_current_user}}
        <a data-type="json" data-remote="true" rel="nofollow" data-method="delete" href="/comments/{{comment.id}}">X</a>
      {{/if}}
    </span>
  </div>
  <br>
</div>
